@import url('https://fonts.googleapis.com/css?family=Anton|Merriweather|Merriweather+Sans|Montserrat|Righteous|Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html, body {
  height: 100%;
}

.logo {
  position: absolute;
  top: 1%;
  left: 2%;
  margin: 0;
  position: fixed;
  width: 7%;

}
/*
.stage{
  display: flex;
  justify-content: center;
  height: 350px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.p{
  font-size: 25px;
  text-align: center;
  margin-top: 0;
  cursor: pointer;
  width: 100%;
  background: #78FED6;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}
.div{
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  width: 300px;
  height: 30px;
  margin-top: 4%;
 transition-duration: 0.2s;

}
.p:hover{
  background: white;
  color: black;
}
.div:nth-child(odd){
  transform: perspective(300px) rotateY(45deg);
  box-shadow: -2px 2px 7px gray;
}
.div:nth-child(even){
  transform: perspective(300px) rotateY(-45deg);
    box-shadow: 2px 2px 7px gray;
}
.div:hover{
  transform: rotateY(0);
  background: white;
  color: black;
  box-shadow: 0px 0px 0px;
} */


/* =============== NAV INFO HERE ============== */

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  position: relative;
  top: 20px;
  position: fixed;

}

ol {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 0.5em 0;
  list-style: none;

}

.menu-item {
  background: grey;
  opacity: 0.8;
  padding: 1em 0.5em;
  position: relative;
  border-bottom: 5px solid #999;
  margin: 0 0.1em;
  transition: border-bottom 0.23s ease-in-out, background 0.23s linear;
  cursor: pointer;
  border-radius: 10px;
  min-width: 8em;
  text-align: center;

}



.menu-item[aria-haspopup="true"] {
  border-bottom-color: #fc9b1b;
}

.menu-item[aria-haspopup="false"] {
  border-bottom-color: black;
}

.menu-item:hover, .menu-item:focus-within {
  border-bottom-color: #4c8492;
  background: #333;
}
.menu-item:hover .sub-menu, .menu-item:hover .sub-menu:hover, .menu-item:focus-within .sub-menu, .menu-item:focus-within .sub-menu:hover {
  visibility: visible;
  opacity: 1;
  display: flex;
}

.sub-menu {
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  left: 0;
  margin-top: 1em;
  visibility: hidden;
  display: none;
  opacity: 0;
}
.sub-menu .menu-item {
  margin: 0.1em 0;
  padding: 1em;
  width: 10em;
  text-align: center;
  z-index: 2;
}

a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
a:focus {
  outline: none;
}

@media (max-width: 690px) {
  .menu {
    width: 95%;
    font-size: 16px;
  }

  .menu-item {
    margin: 0.1em;
  }
  .menu-item:nth-child(1) {
    order: 0;
  }
  .menu-item:nth-child(2) {
    order: 1;
  }
  .menu-item:nth-child(3) {
    order: 3;
  }
  .menu-item:nth-child(4) {
    order: 4;
  }
  .menu-item:nth-child(5) {
    order: 2;
  }
}
@media (max-width: 480px) {
  .menu {
    font-size: 12px;
  }
}

/* =============== VIDEO INFO HERE ============== */

video#bgvid {
  position: fixed;
  /*
  right: 0;
  bottom: 0;
  */

  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -2;
  background: url(../video/hike.jpg) no-repeat;
  background-size: cover;
}

header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

/* =============== SECTION INFO HERE ============== */

.story  {
  padding: 30px;
}

.story h2 {
  text-align: center;
  font-family: 'Righteous', sans-serif;
  font-size: 35px;
}


.story article {
  background: white;
  padding: 20px;
  column-count: 1;
  column-gap: 20px;
  opacity: 0.9;
}

article p {
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 22px;
  padding: 40px;
}

hr {
  border: dotted #56a7a7 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}


#img-article {
  background: #adccc7;
  padding: 40px;
  column-count: 2;
  column-gap: 5px;
}


#img-article img {
  width: 70%;
  margin-bottom: 20px;
  margin-left: 60px;
}



/* =============== THE AUTHOR PAGE INFO HERE ============== */

#author {
  width: 100%;
  height: 60%; /* vertical height - instead of percentage and vw is for the viewport width */
  background: url(../images/bridge.jpg) no-repeat fixed center center; /* if i resize the window im always gonna see the center of the image */
  background-size: cover;

  /* border: 3px solid white; */
  display: flex;
  justify-content: center /*flex-end */;
  align-items: center;
}

#author hgroup {
  background-color: #E8EBE4;
  opacity: 0.8;
  /* its a block element taking this much amount of space >> display as inline block */
  display: inline-block; /* becomes big as the text inside of it -- note: parent is "hero" */
  padding: 20px;
  text-align: center;
  margin-top: 90px;

}

hgroup h1 {
  font-family: 'Montserrat-bold', sans-serif;
  font-size: 70px;
}

hgroup h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;

}

.tarek {
  margin-top: 40px;
}

/* =============== VIDEO INFO HERE ============== */

 .video {
   display: flex;
   justify-content: space-between;
   margin-left: 40px;
   margin-right: 40px;
 }

 .video-text {
   padding: 20px;
   text-align: center;
   font-family: 'Montserrat-bold', sans-serif;
   font-size: 35px;
   margin-top: 20px;
 }

 /* =============== UNHCR PAGE INFO HERE ============== */
.linkk{
  text-decoration: none;
  color: black;
}

.linkk a:visited {
  color: none;
}

 #unhcr {
   width: 100%;
   height: 60%; /* vertical height - instead of percentage and vw is for the viewport width */
   background: url(../images/qq.png) no-repeat fixed center center;
   /* if i resize the window im always gonna see the center of the image */
   background-size: cover;
   /* border: 3px solid white; */
   display: flex;
   justify-content: center /*flex-end */;
   align-items: center;
 }

 .donate {
     padding: 30px;

 }

 .donate h1 {
   text-align: left;
   font-family: 'Montserrat-bold', sans-serif;
   font-size: 35px;
 }

.donate1 {
   background: #ffe26f;
   opacity: 0.9;
   padding: 20px;
   column-count: 2;
   column-gap: 20px; }


 .donate1 p {
   margin-bottom: 20px;
   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
   line-height: 22px;
   padding: 10px;
 }

 span {
   color: #0072BB;
   text-decoration: none;
 }

 /* =============== LAKESHORE GENERAL HOSPITAL PAGE INFO HERE ============== */

 #lake {
   width: 100%;
   height: 90%; /* vertical height - instead of percentage and vw is for the viewport width */
   background: url(../images/lake.jpg) no-repeat fixed center center;
   /* if i resize the window im always gonna see the center of the image */
   background-size: cover;
   /* border: 3px solid white; */
   display: flex;
   justify-content: center /*flex-end */;
   align-items: center;
 }

 .lake-article  {
  align-items: center;
  background-color: #A3E2EB;
  opacity: 0.8;
  /* its a block element taking this much amount of space >> display as inline block */
  display: inline-block; /* becomes big as the text inside of it -- note: parent is "hero" */
  padding: 20px;
  text-align: center;
  margin-top: 90px;

}

 hgroup h1 {
   font-family: 'Montserrat-bold', sans-serif;
   font-size: 70px;
 }

 hgroup h2 {
   font-family: 'Montserrat', sans-serif;
   font-weight: 300;

 }

 .img-lake {
   width: 40%;
   height: 40%;
   padding: 20px;


 }


 .arts {

   width: 96vw;
   height: 50vh;
   background-color: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;

 }

 figure {
   width: 25%; /*size of the boxed */

 }

 figure img {
   width: 100%;

 }

 figure figcaption {
   font-family: 'Montserrat' sans-serif;
   text-align: center;
   background-color: #A3E2EB;
   opacity: 0.8;
   padding: 5px;
 }

/* =============== CONTACT PAGE INFO HERE ============== */

#contact {
  width: 100%;
  height: 60%; /* vertical height - instead of percentage and vw is for the viewport width */

  /* border: 3px solid white; */
  display: flex;
  justify-content: center /*flex-end */;
  align-items: center;
}


* {
	margin:0px;
	padding:0px;
}
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing: border-box; }

.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }


body {
	background: #ffffff;
	color: #333;
	font-weight: normal;
	font-size: 1em;
	font-family: 'Roboto', Arial, sans-serif;
}

input:focus, textarea:focus, keygen:focus, select:focus {
	outline: none;
}
::-moz-placeholder {
	color: #666;
	font-weight: 300;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: #666;
	font-weight: 300;
}


/* Contact Form Styling */
.container {
	padding: 0 50px 70px;
}
.textcenter {
	text-align: center;
}
.section1 {
	text-align: center;
	display: table;
	width: 100%;
}
.section1 .shtext {
	display: block;
	margin-top: 20px;
}
.section1 .seperator {
	border-bottom:1px solid #a2a2a2;
	width: 35px;
	display: inline-block;
	margin: 20px;
}

.section1 h1 {
	font-size: 40px;
	color: #A44DD8;
	font-weight: normal;
}

.section2 {
    width: 1200px;
    margin: 25px auto;
}
.section2 .col2 {
	width: 48.71%;
}
.section2 .col2.first {
	float: left;
}
.section2 .col2.last {
	float: right;
}
.section2 .col2.column2 {
	padding: 0 30px;
}
.section2 span.collig {
	color: #a2a2a2;
	margin-right: 10px;
	display: inline-block;
}
.section2 .sec2addr {
	display: block;
	line-height: 26px;
}
.section2 .sec2addr p:first-child {
	margin-bottom: 10px;
}
.section2 .sec2contactform input[type="text"],
.section2 .sec2contactform input[type="email"],
.section2 .sec2contactform textarea {
    padding: 18px;
    border: 0;
    background: #EDEDED;
    margin: 7px 0;
}
.section2 .sec2contactform textarea {
	width: 100%;
	display: block;
	color: #666;
  resize:none;
}
.section2 .sec2contactform input[type="submit"] {
	padding: 15px 40px;
    color: #fff;
    border: 0;
    background: #A44DD8;
    font-size: 16px;
    text-transform: uppercase;
    margin: 7px 0;
    cursor: pointer;
}
.section2 .sec2contactform h3 {
	font-weight: normal;
    margin: 20px 0;
    margin-top: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 19px;
    color: #A44DD8;
}

/* @media querries */

@media only screen and (max-width: 1266px) {
	.section2 {
		width: 100%;
	}
}
@media only screen and (max-width: 960px) {
	.container {
		padding: 0 30px 70px;
	}
	.section2 .col2 {
		width: 100%;
		display: block;
	}
	.section2 .col2.first {
		margin-bottom: 10px;
	}
	.section2 .col2.column2 {
		padding: 0;
	}
	body .sec2map {
		height: 250px !important;
	}
}
@media only screen and (max-width: 768px) {
	.section2 .sec2addr {
		font-size: 14px;
	}
	.section2 .sec2contactform h3 {
		font-size: 16px;
	}
	.section2 .sec2contactform input[type="text"], .section2 .sec2contactform input[type="email"], .section2 .sec2contactform textarea {
		padding: 10px;
		margin:3px 0;
	}
	.section2 .sec2contactform input[type="submit"] {
		padding: 10px 30px;
		font-size: 14px;
	}
}
@media only screen and (max-width: 420px) {
	.section1 h1 {
		font-size: 28px;
	}
}

/* =============== DONATIONS BAR INFO HERE ============== */


body { background: #E9E5E2;margin:2%; }

#SkillBox {
    font-size: 20px;
    font-family: 'Montserrat-semibold', sans-serif;
    height: auto;
    margin: 40px auto;
    background-color: #fff;
    //border: 1px solid #cdcdcd;
    padding: 10px;
    border-radius:20px;
    -o-border-radius:20px;
    -webkit-border-radius:20px;
    -ms-border-radius:20px;
    -moz-border-radius:20px;
}
#SkillBox img {
    width: 20%;
    height: 10%;
    margin: auto 35%;
    padding: 10px;
}
.SkillBar {
    width: 90%;
    height: 50px;
    position: relative;
    background: rgba(17, 17, 17, .3);
    margin: 20px auto;
}
#Skill-HTML {
    width: 100%;
    animation: Animate-HTML 4s;
    -webkit-animation: Animate-HTML 4s;
    -moz-animation: Animate-HTML 4s;
    -o-animation: Animate-HTML 4s;
    height: 50px;
    position: absolute;
    background-color: #0072BB;
}
@keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 100%}
}@-webkit-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 100%}
}@-moz-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 100%}
}@-o-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 100%}
}#Skill-CSS {
    animation: Animate-CSS 5s;
    -webkit-animation: Animate-CSS 5s;
    -moz-animation: Animate-CSS 5s;
    -o-animation: Animate-CSS 5s;
    width: 70%;
    height: 50px;
    position: absolute;
    background-color: #55a69f;
}
@keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-webkit-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-moz-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-o-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 70%}
}#Skill-jQuery {
    animation: Animate-jQuery 5s;
    -webkit-animation: Animate-jQuery 5s;
    -moz-animation: Animate-jQuery 5s;
    -o-animation: Animate-jQuery 5s;
    width: 40%;
    height: 50px;
    position: absolute;
    background-color: #99856d;
}
@keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-webkit-keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-moz-keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-o-keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 40%}
}#Skill-JS {
    animation: Animate-JS 4s;
    -webkit-animation: Animate-JS 4s;
    -moz-animation: Animate-JS 4s;
    -o-animation: Animate-JS 4s;
    width: 65%;
    height: 50px;
    position: absolute;
    background-color: #c44e45;
}
@keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 65%}
}@-webkit-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 65%}
}@-moz-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 65%}
}@-o-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 65%}
}#Skill-XML {
    animation: Animate-XML 4s;
    -webkit-animation: Animate-XML 4s;
    -moz-animation: Animate-XML 4s;
    -o-animation: Animate-XML 4s;
    width: 40%;
    height: 50px;
    position: absolute;
    background-color: #5aa669;
}
@keyframes Animate-XML {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-webkit-keyframes Animate-XML {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-moz-keyframes Animate-XML {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-o-keyframes Animate-XML {
    from {
    width: 10px;
}
to {
    width: 40%}
}#Skill-C {
    animation: Animate-C 4s;
    -webkit-animation: Animate-C 4s;
    -moz-animation: Animate-C 4s;
    -o-animation: Animate-C 4s;
    width: 30%;
    height: 50px;
    position: absolute;
    background-color: #970cc1;
}
@keyframes Animate-C {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-webkit-keyframes Animate-C {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-moz-keyframes Animate-C {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-o-keyframes Animate-C {
    from {
    width: 10px;
}
to {
    width: 30%}
}#Skill-JAVA {
    animation: Animate-JAVA 4s;
    -webkit-animation: Animate-JAVA 4s;
    -moz-animation: Animate-JAVA 4s;
    -o-animation: Animate-JAVA 4s;
    width: 25%;
    height: 50px;
    position: absolute;
    background-color: #8e930c;
}
@keyframes Animate-JAVA {
    from {
    width: 10px;
}
to {
    width: 25%}
}@-webkit-keyframes Animate-JAVA {
    from {
    width: 10px;
}
to {
    width: 25%}
}@-moz-keyframes Animate-JAVA {
    from {
    width: 10px;
}
to {
    width: 25%}
}@-o-keyframes Animate-JAVA {
    from {
    width: 10px;
}
to {
    width: 25%}
}#Skill-PHP {
    animation: Animate-PHP 4s;
    -webkit-animation: Animate-PHP 4s;
    -moz-animation: Animate-PHP 4s;
    -o-animation: Animate-PHP 4s;
    width: 50%;
    height: 50px;
    position: absolute;
    background-color: #5A69A6;
}
@keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 50%}
}@-webkit-keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 50%}
}@-moz-keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 50%}
}@-o-keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 50%}
}#Skill-SQL {
    animation: Animate-SQL 4s;
    -webkit-animation: Animate-SQL 4s;
    -moz-animation: Animate-SQL 4s;
    -o-animation: Animate-SQL 4s;
    width: 80%;
    height: 50px;
    position: absolute;
    background-color: #23b1db;
}
@keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-webkit-keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-moz-keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-o-keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 80%}
}#Skill-VBNET {
    animation: Animate-VBNET 4s;
    -webkit-animation: Animate-VBNET 4s;
    -moz-animation: Animate-VBNET 4s;
    -o-animation: Animate-VBNET 4s;
    width: 35%;
    height: 50px;
    position: absolute;
    background-color: #f8a51e;
}
@keyframes Animate-VBNET {
    from {
    width: 10px;
}
to {
    width: 35%}
}@-webkit-keyframes Animate-VBNET {
    from {
    width: 10px;
}
to {
    width: 35%}
}@-moz-keyframes Animate-VBNET {
    from {
    width: 10px;
}
to {
    width: 35%}
}@-o-keyframes Animate-VBNET {
    from {
    width: 10px;
}
to {
    width: 35%}
}.Skill-Area {
    z-index: 1;
    float: left;
    //position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    text-shadow: none;
    color: #fff;
    //font-family: Lato-Regular, sans-serif;
    font-size: 18px;
}
.PercentText {
    z-index: 3;
    position: relative;
    padding-right: 15px;
    margin-top: 15px;
    float: right;
    text-shadow: none;
    color: #fff;
    //font-family: Lato-Regular, sans-serif;
    font-size: 18px;
}

center h2 {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: 20px;
}




/* =============== FOOTER INFO HERE ============== */

#lab_social_icon_footer {
  padding: 40px 0;
  background-color: #dedede;
  opacity: 0.9;

}

.container {
  display: flex;
  justify-content: center;
}

#lab_social_icon_footer a {
  color: #333;

}

#lab_social_icon_footer .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);

}

#lab_social_icon_footer .social {

  -webkit-transform: scale(0.8);
  /* Browser Variations: */

  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

/*
    Multicoloured Hover Variations
*/

#lab_social_icon_footer #social-fb:hover {
  color: #3B5998;
}

#lab_social_icon_footer #social-tw:hover {
  color: #4099FF;
}

#lab_social_icon_footer #social-gp:hover {
  color: #d34836;
}

#lab_social_icon_footer #social-em:hover {
  color: #f39c12;
}

.copyright {
  color: black;
  font-size: 0.75rem;
  padding: 10px;
  text-align: center;
}
